## Exploratory Data Analysis on Urban Data

%load tex-macros
<div hidden>
\newcommand{\require}[1]{}

$\require{begingroup}\require{newcommand}$
$\long\def \forcecommand #1{\providecommand{#1}{}\renewcommand{#1}}$
$\forcecommand{\defeq}{\stackrel{\small\bullet}{=}}$
$\forcecommand{\ra}{\rangle}$
$\forcecommand{\la}{\langle}$
$\forcecommand{\pr}{{\mathbb P}}$
$\forcecommand{\qr}{{\mathbb Q}}$
$\forcecommand{\xv}{{\boldsymbol{x}}}$
$\forcecommand{\av}{{\boldsymbol{a}}}$
$\forcecommand{\bv}{{\boldsymbol{b}}}$
$\forcecommand{\cv}{{\boldsymbol{c}}}$
$\forcecommand{\dv}{{\boldsymbol{d}}}$
$\forcecommand{\ev}{{\boldsymbol{e}}}$
$\forcecommand{\fv}{{\boldsymbol{f}}}$
$\forcecommand{\gv}{{\boldsymbol{g}}}$
$\forcecommand{\hv}{{\boldsymbol{h}}}$
$\forcecommand{\nv}{{\boldsymbol{n}}}$
$\forcecommand{\sv}{{\boldsymbol{s}}}$
$\forcecommand{\tv}{{\boldsymbol{t}}}$
$\forcecommand{\uv}{{\boldsymbol{u}}}$
$\forcecommand{\vv}{{\boldsymbol{v}}}$
$\forcecommand{\wv}{{\boldsymbol{w}}}$
$\forcecommand{\zerov}{{\mathbf{0}}}$
$\forcecommand{\onev}{{\mathbf{0}}}$
$\forcecommand{\phiv}{{\boldsymbol{\phi}}}$
$\forcecommand{\cc}{{\check{C}}}$
$\forcecommand{\xv}{{\boldsymbol{x}}}$
$\forcecommand{\Xv}{{\boldsymbol{X}\!}}$
$\forcecommand{\yv}{{\boldsymbol{y}}}$
$\forcecommand{\Yv}{{\boldsymbol{Y}}}$
$\forcecommand{\zv}{{\boldsymbol{z}}}$
$\forcecommand{\Zv}{{\boldsymbol{Z}}}$
$\forcecommand{\Iv}{{\boldsymbol{I}}}$
$\forcecommand{\Jv}{{\boldsymbol{J}}}$
$\forcecommand{\Cv}{{\boldsymbol{C}}}$
$\forcecommand{\Ev}{{\boldsymbol{E}}}$
$\forcecommand{\Fv}{{\boldsymbol{F}}}$
$\forcecommand{\Gv}{{\boldsymbol{G}}}$
$\forcecommand{\Hv}{{\boldsymbol{H}}}$
$\forcecommand{\alphav}{{\boldsymbol{\alpha}}}$
$\forcecommand{\epsilonv}{{\boldsymbol{\epsilon}}}$
$\forcecommand{\betav}{{\boldsymbol{\beta}}}$
$\forcecommand{\deltav}{{\boldsymbol{\delta}}}$
$\forcecommand{\gammav}{{\boldsymbol{\gamma}}}$
$\forcecommand{\etav}{{\boldsymbol{\eta}}}$
$\forcecommand{\piv}{{\boldsymbol{\pi}}}$
$\forcecommand{\thetav}{{\boldsymbol{\theta}}}$
$\forcecommand{\tauv}{{\boldsymbol{\tau}}}$
$\forcecommand{\muv}{{\boldsymbol{\mu}}}$
$%$
$\forcecommand{\sd}{\text{SD}}$
$\forcecommand{\se}{\text{SE}}$
$\forcecommand{\med}{\text{median}}$
$\forcecommand{\median}{\text{median}}$
$%$
$\forcecommand{\Ber}{{\text{Ber}}}$
$\forcecommand{\Bin}{{\text{Bin}}}$
$\forcecommand{\Geo}{{\text{Geo}}}$
$\forcecommand{\Unif}{{\text{Unif}}}$
$\forcecommand{\Poi}{{\text{Poi}}}$
$\forcecommand{\Exp}{{\text{Exp}}}$
$\forcecommand{\Chisq}{{\chi^2}}$
$\forcecommand{\N}{\mathbb{N}}$
$\forcecommand{\iid}{{\stackrel{iid}{\sim}}}$
$\forcecommand{\px}{p_{X}}$
$\forcecommand{\fx}{f_{X}}$
$\forcecommand{\Fx}{F_{X}}$
$\forcecommand{\py}{p_{Y}}$
$\forcecommand{\pxy}{p_{X,Y}}$
$\forcecommand{\po}{{p_0}}$
$\forcecommand{\pa}{{p_a}}$
$\forcecommand{\Xbar}{\overline{X}}$
$\forcecommand{\Ybar}{\overline{Y}}$
$\forcecommand{\Zbar}{\overline{Z}}$
$\forcecommand{\nXbar}{n \cdot \overline{X}}$
$\forcecommand{\nYbar}{n \cdot \overline{Y}}$
$\forcecommand{\nZbar}{n \cdot \overline{Z}}$
$\forcecommand{\Xn}{X_1, X_2, \dots, X_n}$
$\forcecommand{\Xm}{{X_1, X_2, \dots, X_m}}$
$\forcecommand{\Yn}{Y_1, Y_2, \dots, Y_n}$
$\forcecommand{\Ym}{{Y_1, Y_2, \dots, Y_m}}$
$\forcecommand{\sumXn}{X_1 + X_2 + \dots + X_n}$
$\forcecommand{\sumym}{Y_1 + Y_2 + \dots + Y_m}$
$\forcecommand{\la}{\ell_\alpha}$
$\forcecommand{\ua}{u_\alpha}$
$\forcecommand{\at}{{\alpha/2}}$
$\forcecommand{\mux}{\mu_{X}}$
$\forcecommand{\muy}{\mu_{Y}}$
$\forcecommand{\sx}{\sigma_{X}}$
$\forcecommand{\sy}{\sigma_{Y}}$
$\forcecommand{\pvalue}{$p$-value}$
$\forcecommand{\Ho}{H_{0}}$
$\forcecommand{\Ha}{H_{a}}$

\vskip-\parskip
\vskip-\baselineskip
</div>


Author: Emily Chen 

Data sources: http://atlasofurbanexpansion.org/

Bugs: None

In [1]:
import numpy as np 
import pandas as pd
import scipy.stats as stats

import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
import plotly.express as px
import pycountry_convert as pc

import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

import ipywidgets as widgets
from ipywidgets import interact, fixed
%matplotlib inline

What does our data look like?

In [2]:
df = pd.read_csv('urban_expansion_long_lat.csv')
df.head()

,City Name,Country,Region,CBD Latitude,CBD Longitude,Land CoverT1,Land Cover T2,Land Cover T3,Population T1,Population T2,Population T3,Population Annual Change T2-T3,Area T1 (ha),Area T2 (ha),Area T3 (ha),Area Annual Change T2-T3,Longitude,Latitude
0,Accra,Ghana,Sub-Saharan Africa,5.615,-0.159,1/1/1991,2/1/2000,3/1/2014,"1,307,784","2,513,026","4,429,649",4.00%,"10,022","32,171","61,781",4.60%,5.557110,-0.201238
1,Addis Ababa,Ethiopia,Sub-Saharan Africa,9.001,38.756,1/1/1986,12/1/2000,12/1/2010,"1,445,701","2,276,356","3,009,130",2.80%,"7,531","11,713","21,133",5.90%,9.035829,38.752413
2,Ahmedabad,India,South and Central Asia,23.037,72.589,12/1/1989,10/1/2000,10/1/2013,"3,737,723","4,718,391","6,232,952",2.10%,"12,174","15,916","21,103",2.20%,23.021624,72.579707
3,Ahvaz,Iran,South and Central Asia,31.320,48.665,11/1/1991,9/1/2000,9/1/2013,"698,310","853,527","1,178,560",2.50%,"7,079","9,200","12,873",2.60%,31.323064,48.679320
4,Alexandria,Egypt,Western Asia and North Africa,31.152,29.884,10/1/1987,4/1/1999,7/1/2013,"2,558,891","3,132,780","4,345,193",2.30%,"7,818","15,514","22,782",2.70%,44.834953,8.745030

**Clean data** means free of incorrect inputs, missing data, irrelevance and is rectangular.

In [13]:
are_non_missing = df.isna()
all(are_non_missing)

True

In [9]:
df.dtypes

City Name                          object
Country                            object
Region                             object
CBD Latitude                      float64
CBD Longitude                     float64
Land CoverT1                       object
Land Cover T2                      object
Land Cover T3                      object
Population T1                      object
Population T2                      object
Population T3                      object
Population Annual Change T2-T3     object
Area T1 (ha)                       object
Area T2 (ha)                       object
Area T3 (ha)                       object
Area Annual Change T2-T3           object
Longitude                         float64
Latitude                          float64
dtype: object

1. Do we want to convert the data types to relevant data types for analyzing the data later?
    - City Name, Country, Region into categorical
    - CBD Latitude, CBD Longitude, Population T1, T2, T3, Area T1, T2, T3, Population Annual Change T2-T3, Area Annual Change T2-T3, Longitude, and Latitude into float64

In [10]:
geographicalNameData = ['City Name', 'Country', 'Region']
def convertToCategory(list):
    for column in list:
        df[column] = df[column].astype('category')
convertToCategory(geographicalNameData)

In [19]:
df.columns

Index(['City Name', 'Country', 'Region', 'CBD Latitude', 'CBD Longitude',
       'Land CoverT1', 'Land Cover T2', 'Land Cover T3', 'Population T1',
       'Population T2', 'Population T3', 'Population Annual Change T2-T3',
       'Area T1 (ha)', 'Area T2 (ha)', 'Area T3 (ha)',
       'Area Annual Change T2-T3', 'Longitude', 'Latitude'],
      dtype='object')

In [20]:
nonPercentageNumericalColumns = ["CBD Latitude", "CBD Longitude", "Population T1", "Populatino T2", \
                        "Population T3", "Area T1 (ha)", "Area T2 (ha)", "Area T3 (ha)", "Longitude", "Latitude"]
percentageDataColumns = ["Population Annual Change T2-T3", "Area Annual Change T2-T3"]





def convertToFloat(list):
    for column in list:
        if column in nonPercentageNumericalColumns:
            df[column] = df[column].astype('float64')


nonCategoricalColumns = nonPercentageNumericalColumns + percentageDataColumns
convertToFloat(nonCategoricalColumns)

ValueError: could not convert string to float: '1/1/1991'

In [21]:
df.dtypes

City Name                         category
Country                           category
Region                            category
CBD Latitude                       float64
CBD Longitude                      float64
Land CoverT1                        object
Land Cover T2                       object
Land Cover T3                       object
Population T1                       object
Population T2                       object
Population T3                       object
Population Annual Change T2-T3      object
Area T1 (ha)                        object
Area T2 (ha)                        object
Area T3 (ha)                        object
Area Annual Change T2-T3            object
Longitude                          float64
Latitude                           float64
dtype: object

#### Now that we know that the data is cleaned, it is ready to be used.
1. Are we going to use non-parametric testing because we want to make *minimal* assumptions about the distribution of the data set?
2. Are some examples of non-parametric testing the following?
    - QQ-Plot (checking for normality)
    - Durbin-Watson test or the Ljung-Box test (checking for independence)
    - Performing the Breusch-Pagan test or the White test (Heteroscedasticity)