## Exploratory Data Analysis on Urban Data

%load tex-macros
<div hidden>
\newcommand{\require}[1]{}

$\require{begingroup}\require{newcommand}$
$\long\def \forcecommand #1{\providecommand{#1}{}\renewcommand{#1}}$
$\forcecommand{\defeq}{\stackrel{\small\bullet}{=}}$
$\forcecommand{\ra}{\rangle}$
$\forcecommand{\la}{\langle}$
$\forcecommand{\pr}{{\mathbb P}}$
$\forcecommand{\qr}{{\mathbb Q}}$
$\forcecommand{\xv}{{\boldsymbol{x}}}$
$\forcecommand{\av}{{\boldsymbol{a}}}$
$\forcecommand{\bv}{{\boldsymbol{b}}}$
$\forcecommand{\cv}{{\boldsymbol{c}}}$
$\forcecommand{\dv}{{\boldsymbol{d}}}$
$\forcecommand{\ev}{{\boldsymbol{e}}}$
$\forcecommand{\fv}{{\boldsymbol{f}}}$
$\forcecommand{\gv}{{\boldsymbol{g}}}$
$\forcecommand{\hv}{{\boldsymbol{h}}}$
$\forcecommand{\nv}{{\boldsymbol{n}}}$
$\forcecommand{\sv}{{\boldsymbol{s}}}$
$\forcecommand{\tv}{{\boldsymbol{t}}}$
$\forcecommand{\uv}{{\boldsymbol{u}}}$
$\forcecommand{\vv}{{\boldsymbol{v}}}$
$\forcecommand{\wv}{{\boldsymbol{w}}}$
$\forcecommand{\zerov}{{\mathbf{0}}}$
$\forcecommand{\onev}{{\mathbf{0}}}$
$\forcecommand{\phiv}{{\boldsymbol{\phi}}}$
$\forcecommand{\cc}{{\check{C}}}$
$\forcecommand{\xv}{{\boldsymbol{x}}}$
$\forcecommand{\Xv}{{\boldsymbol{X}\!}}$
$\forcecommand{\yv}{{\boldsymbol{y}}}$
$\forcecommand{\Yv}{{\boldsymbol{Y}}}$
$\forcecommand{\zv}{{\boldsymbol{z}}}$
$\forcecommand{\Zv}{{\boldsymbol{Z}}}$
$\forcecommand{\Iv}{{\boldsymbol{I}}}$
$\forcecommand{\Jv}{{\boldsymbol{J}}}$
$\forcecommand{\Cv}{{\boldsymbol{C}}}$
$\forcecommand{\Ev}{{\boldsymbol{E}}}$
$\forcecommand{\Fv}{{\boldsymbol{F}}}$
$\forcecommand{\Gv}{{\boldsymbol{G}}}$
$\forcecommand{\Hv}{{\boldsymbol{H}}}$
$\forcecommand{\alphav}{{\boldsymbol{\alpha}}}$
$\forcecommand{\epsilonv}{{\boldsymbol{\epsilon}}}$
$\forcecommand{\betav}{{\boldsymbol{\beta}}}$
$\forcecommand{\deltav}{{\boldsymbol{\delta}}}$
$\forcecommand{\gammav}{{\boldsymbol{\gamma}}}$
$\forcecommand{\etav}{{\boldsymbol{\eta}}}$
$\forcecommand{\piv}{{\boldsymbol{\pi}}}$
$\forcecommand{\thetav}{{\boldsymbol{\theta}}}$
$\forcecommand{\tauv}{{\boldsymbol{\tau}}}$
$\forcecommand{\muv}{{\boldsymbol{\mu}}}$
$%$
$\forcecommand{\sd}{\text{SD}}$
$\forcecommand{\se}{\text{SE}}$
$\forcecommand{\med}{\text{median}}$
$\forcecommand{\median}{\text{median}}$
$%$
$\forcecommand{\Ber}{{\text{Ber}}}$
$\forcecommand{\Bin}{{\text{Bin}}}$
$\forcecommand{\Geo}{{\text{Geo}}}$
$\forcecommand{\Unif}{{\text{Unif}}}$
$\forcecommand{\Poi}{{\text{Poi}}}$
$\forcecommand{\Exp}{{\text{Exp}}}$
$\forcecommand{\Chisq}{{\chi^2}}$
$\forcecommand{\N}{\mathbb{N}}$
$\forcecommand{\iid}{{\stackrel{iid}{\sim}}}$
$\forcecommand{\px}{p_{X}}$
$\forcecommand{\fx}{f_{X}}$
$\forcecommand{\Fx}{F_{X}}$
$\forcecommand{\py}{p_{Y}}$
$\forcecommand{\pxy}{p_{X,Y}}$
$\forcecommand{\po}{{p_0}}$
$\forcecommand{\pa}{{p_a}}$
$\forcecommand{\Xbar}{\overline{X}}$
$\forcecommand{\Ybar}{\overline{Y}}$
$\forcecommand{\Zbar}{\overline{Z}}$
$\forcecommand{\nXbar}{n \cdot \overline{X}}$
$\forcecommand{\nYbar}{n \cdot \overline{Y}}$
$\forcecommand{\nZbar}{n \cdot \overline{Z}}$
$\forcecommand{\Xn}{X_1, X_2, \dots, X_n}$
$\forcecommand{\Xm}{{X_1, X_2, \dots, X_m}}$
$\forcecommand{\Yn}{Y_1, Y_2, \dots, Y_n}$
$\forcecommand{\Ym}{{Y_1, Y_2, \dots, Y_m}}$
$\forcecommand{\sumXn}{X_1 + X_2 + \dots + X_n}$
$\forcecommand{\sumym}{Y_1 + Y_2 + \dots + Y_m}$
$\forcecommand{\la}{\ell_\alpha}$
$\forcecommand{\ua}{u_\alpha}$
$\forcecommand{\at}{{\alpha/2}}$
$\forcecommand{\mux}{\mu_{X}}$
$\forcecommand{\muy}{\mu_{Y}}$
$\forcecommand{\sx}{\sigma_{X}}$
$\forcecommand{\sy}{\sigma_{Y}}$
$\forcecommand{\pvalue}{$p$-value}$
$\forcecommand{\Ho}{H_{0}}$
$\forcecommand{\Ha}{H_{a}}$

\vskip-\parskip
\vskip-\baselineskip
</div>


Author: Emily Chen 

Data sources: http://atlasofurbanexpansion.org/

Bugs: None

In [1]:
import numpy as np 
import pandas as pd
import scipy.stats as stats

import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
import plotly.express as px
import pycountry_convert as pc

import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

import ipywidgets as widgets
from ipywidgets import interact, fixed
%matplotlib inline

What does our data look like?

In [3]:
df = pd.read_csv('urban_expansion_data.csv')
df.head()

,City Name,Country,Region,CBD Latitude,CBD Longitude,Land CoverT1,Land Cover T2,Land Cover T3,Population T1,Population T2,Population T3,Population Annual Change T2-T3,Area T1 (ha),Area T2 (ha),Area T3 (ha),Area Annual Change T2-T3
0,Accra,Ghana,Sub-Saharan Africa,5.615,-0.159,1/1/1991,2/1/2000,3/1/2014,"1,307,784","2,513,026","4,429,649",4.00%,"10,022","32,171","61,781",4.60%
1,Addis Ababa,Ethiopia,Sub-Saharan Africa,9.001,38.756,1/1/1986,12/1/2000,12/1/2010,"1,445,701","2,276,356","3,009,130",2.80%,"7,531","11,713","21,133",5.90%
2,Ahmedabad,India,South and Central Asia,23.037,72.589,12/1/1989,10/1/2000,10/1/2013,"3,737,723","4,718,391","6,232,952",2.10%,"12,174","15,916","21,103",2.20%
3,Ahvaz,Iran,South and Central Asia,31.320,48.665,11/1/1991,9/1/2000,9/1/2013,"698,310","853,527","1,178,560",2.50%,"7,079","9,200","12,873",2.60%
4,Alexandria,Egypt,Western Asia and North Africa,31.152,29.884,10/1/1987,4/1/1999,7/1/2013,"2,558,891","3,132,780","4,345,193",2.30%,"7,818","15,514","22,782",2.70%

There are 200 unique city names.

In [5]:
len(df['City Name'].unique())

200

In [7]:
# !pip install folium
# !pip install geopy

Requirement already satisfied: folium in /Users/emilychen/anaconda3/lib/python3.11/site-packages (0.16.0)
Requirement already satisfied: branca>=0.6.0 in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from folium) (0.7.1)
Requirement already satisfied: jinja2>=2.9 in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from folium) (1.24.3)
Requirement already satisfied: requests in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from folium) (2.31.0)
Requirement already satisfied: xyzservices in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from requests->folium) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from requests->folium) (2024.2.2)
Requirement already satisfied: geopy in /Users/emilychen/anaconda3/lib/python3.11/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/emilychen/anaconda3/lib/python3.11/site-packages (from geopy) (2.0)

In [9]:
from geopy.geocoders import Nominatim

In [11]:
# Initialize Nominatim API
#https://www.tutorialspoint.com/how-to-get-the-longitude-and-latitude-of-a-city-using-python
geolocator = Nominatim(user_agent="city", timeout=10)

location = geolocator.geocode("Sangzhi, Hunan")

print("The latitude of the location is: ", location.latitude)
print("The longitude of the location is: ", location.longitude)

The latitude of the location is:  29.574001
The longitude of the location is:  110.172485

In [12]:
city_coords = {}
cities = df['City Name'].unique()
for city in cities:
    location = geolocator.geocode(city)
    if location:
        if location.latitude and location.longitude:
            city_coords[city] = (location.latitude, location.longitude)
        else:
            print("Latitude or Longitude is None for", city)
    else:
        print("Latitude and Longitude not found for", city)
# Latitude and Longitude not found for Changzhi, Hunan (35.20889, 111.73861)
# https://latitudelongitude.org/cn/changzhi/
# Latitude and Longitude not found for Changzhou, Jingsu
# Latitude and Longitude not found for Pematangtiantar

Latitude and Longitude not found for Changzhi, Hunan
Latitude and Longitude not found for Changzhou, Jingsu
Latitude and Longitude not found for Pematangtiantar

In [13]:
# How to correct the typos?
df.loc[df['City Name'] == 'Changzhi, Hunan', 'City Name'] = 'Sangzhi, Hunan' # row 33
df.loc[df['City Name'] == 'Changzhou, Jingsu', 'City Name'] = 'Changzhou, Jiangsu' #row 34
df.loc[df['City Name'] == 'Pematangtiantar', 'City Name'] = 'Pematangsiantar' #row 132

In [17]:
corrected_cities = ['Sangzhi, Hunan', 'Changzhou, Jiangsu', 'Pematangsiantar']
for city in corrected_cities:
    location = geolocator.geocode(city)
    if location:
        if location.latitude and location.longitude:
            city_coords[city] = (location.latitude, location.longitude)
        else:
            print("Latitude or Longitude is None for", city)
    else:
        print("Latitude and Longitude not found for", city)

In [18]:
# How to add latitude and longitude attribute?
longitude = []
latitude = []

for city in df['City Name']:
    if city in city_coords:
        lon, lat = city_coords[city]
        longitude.append(lon)
        latitude.append(lat)
    else:
        longitude.append(None)
        latitude.append(None)

df['Longitude'] = longitude
df['Latitude'] = latitude
df.head()

,City Name,Country,Region,CBD Latitude,CBD Longitude,Land CoverT1,Land Cover T2,Land Cover T3,Population T1,Population T2,Population T3,Population Annual Change T2-T3,Area T1 (ha),Area T2 (ha),Area T3 (ha),Area Annual Change T2-T3,Longitude,Latitude
0,Accra,Ghana,Sub-Saharan Africa,5.615,-0.159,1/1/1991,2/1/2000,3/1/2014,"1,307,784","2,513,026","4,429,649",4.00%,"10,022","32,171","61,781",4.60%,5.557110,-0.201238
1,Addis Ababa,Ethiopia,Sub-Saharan Africa,9.001,38.756,1/1/1986,12/1/2000,12/1/2010,"1,445,701","2,276,356","3,009,130",2.80%,"7,531","11,713","21,133",5.90%,9.035829,38.752413
2,Ahmedabad,India,South and Central Asia,23.037,72.589,12/1/1989,10/1/2000,10/1/2013,"3,737,723","4,718,391","6,232,952",2.10%,"12,174","15,916","21,103",2.20%,23.021624,72.579707
3,Ahvaz,Iran,South and Central Asia,31.320,48.665,11/1/1991,9/1/2000,9/1/2013,"698,310","853,527","1,178,560",2.50%,"7,079","9,200","12,873",2.60%,31.323064,48.679320
4,Alexandria,Egypt,Western Asia and North Africa,31.152,29.884,10/1/1987,4/1/1999,7/1/2013,"2,558,891","3,132,780","4,345,193",2.30%,"7,818","15,514","22,782",2.70%,44.834953,8.745030

In [19]:
df[df['City Name'] == 'Sangzhi, Hunan']

,City Name,Country,Region,CBD Latitude,CBD Longitude,Land CoverT1,Land Cover T2,Land Cover T3,Population T1,Population T2,Population T3,Population Annual Change T2-T3,Area T1 (ha),Area T2 (ha),Area T3 (ha),Area Annual Change T2-T3,Longitude,Latitude
33,"Sangzhi, Hunan",China,East Asia and the Pacific,36.192,113.116,10/1/1992,10/1/2000,6/1/2014,"286,761","346,288","822,355",6.30%,"2,921","4,516","11,526",6.90%,29.574001,110.172485

In [20]:
df.to_csv('urban_expansion_long_lat.csv', index=False)